/*Footer.css*/

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1rem;
    background: linear-gradient(135deg, #ffc1a1, #fef6e4);
    color: var(--color-texto);
    padding: 2rem 1rem;
    text-align: center;
}

.footer__seccion h3 {
    color: var(--color-menu);
    font-size: var(--font-size-subtitulo);
    margin-bottom: 1rem;
}

.footer__seccion ul {
    padding: 0;
    list-style: none;
}

.footer__seccion ul li {
    font-size: var(--font-size-pequeno);
    margin-bottom: 0.5rem;
}
/* Animación de entrada */
@keyframes aparecer {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.footer__seccion ul li img {
    width: 2.5rem;
    vertical-align: middle;
    transition: transform 0.3s ease;
    animation: aparecer 0.5s ease-in-out;
}
.footer__seccion ul li img:hover {
    transform: scale(1.2) rotate(10deg); /* Escala y ligera rotación */
    transition: transform 0.3s ease-in-out; /* Controla la transición */
}

.footer__seccion ul li a {
    text-decoration: none;
    color: var(--color-texto);
    transition: color 0.3s ease;
}

.footer__seccion ul li a:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer__seccion {
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .footer__seccion ul li {
        font-size: 0.8rem;
    }
}


