/*modal.css*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--borde-radio);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    z-index: 1000;
    display: none;
}

.modal-content {
    background-color: var(--color-fondo);
    padding: 2rem;
    border-radius: var(--borde-radio);
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Lista de productos en el carrito */
#carrito-items {
    max-height: 200px;
    overflow-y: auto;
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}
#carrito-items li {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-primario);
}

#carrito-items li:last-child {
    border-bottom: 1px solid var(--color-primario);
}

.modal-footer {
    margin-top: 1rem;
}

.modal-footer p {
    margin-bottom: 1rem;
}

.modal-footer .btn-finalizar {
    padding: 0.5rem 1rem;
    background-color: var(--color-primario);
    color: var(--color-fondo);
    border: none;
    border-radius: var(--borde-radio);
    cursor: pointer;
}

.modal-footer .btn-finalizar:hover {
    background-color: var(--color-hover);
}

.modal.activo{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

/* Modal de detalles */
#modal-detalles .modal-content {
    background-color: var(--color-fondo);
    padding: 2rem;
    border-radius: var(--borde-radio);
    text-align: left; /* Detalles suelen estar alineados a la izquierda */
}

#modal-detalles img {
    max-width: 100%;
    margin-bottom: 1rem;
}

#modal-detalles p {
    margin: 0.5rem 0;
}

#modal-detalles input[type="number"] {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--color-primario);
    border-radius: var(--borde-radio);
}
#vaciar-carrito {
    background-color: var(--color-boton); /* Botón secundario */
}

#vaciar-carrito:hover {
    background-color: var(--color-hover); /* Hover para botón secundario */
}

#finalizar-compra {
    background-color: var(--color-boton); /* Botón principal */
}

#finalizar-compra:hover {
    background-color: var(--color-hover); /* Hover para botón principal */
}
#modal-detalles button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-primario);
    color: var(--color-fondo);
    border: none;
    border-radius: var(--borde-radio);
    cursor: pointer;
}

#modal-detalles button:hover {
    background-color: var(--color-hover);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 576px) {
    .modal-content {
        max-width: 90%;
        padding: 1.5rem;
    }
    #carrito-items {
        max-height: 150px;
    }
}

